.list-table-format{
    display:flex;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap:137px;
    padding: 12px 25px;
    border:1px solid #cacaca;
    font-size:14px;
}
.list-table-format title{
    background-color: #afafaf;   
}
.list-table-format img{
    width: 80px;
}